*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: #76e678;
}
.field{
    max-width: 500px;
    border: 2px solid rgb(211, 193, 193);
    display: flex;
    flex-direction: column;
    position: relative;
    left: 32%;
    top: 20%;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.namef{
    margin-top: 20px;
    margin-bottom: 20px;
}
#name{
    padding: 5px;
}
.emfield{
    margin-top: 20px;
    margin-bottom: 20px;
}
#email{
    
}