.ToDo{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
input{
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 22px);
  font-size: large;
}
button{
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  height: 40px;
}
.todocont{
  display: flex;
}
ol{
  list-style-type: none;
  padding: 0;
}
li{
  margin: 10px 0;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  padding-left: 6px;
}